* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Noto Serif JP', serif;
  font-size: 18px;
  background-color: #21211D;
  height: 100%;
  width: 100%;
  margin: 0; 
  padding: 0;
  color: white;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}
.inputContainer {
  background-color: #FFFA8D;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* styling the CSV results */
.object-div {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
}

footer {
  padding: 5px;
}