* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=DM+Sans:opsz@9..40&display=swap');

body {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  background-color: #21211D;
  height: 100%;
  width: 100%;
  color: white;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.inputContainer {
  background-color: #FFFA8D;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling the CSV results */
.object-div {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
}
